/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    background-color: #ffffb5;
}


h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 35px;
    color: #FFC900;
}
.jaune{
    color: #FFC900;
}
h3{
    color: #fff;
    font-size: 35px;
}
h4{
    color: rgb(0, 0, 0);
    font-size: 35px;
}
a{
    text-decoration: none; /*pour que les textes ne soient plus sourligné*/
}
p{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
ul
{
    list-style: none; /*pour ne pas afficher les points noirs*/
   
}
.wrapper {
    width: 940px;
    margin: 0 auto; /*pour centrer le contenu*/
    padding: 0 10px;
}


/*/*GENERAL 
*{                  /*sélecteur général
  margin: 0;
    padding: 0;
    font-size: 15px;
} 
body
{
    font-family: Arial, Helvetica, sans-serif;
    
}
/*.thumbnail{
    height:450px ;
    width: 300px ;
}

nav2
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #FFC900;
    
}
h3{
    color:black;
    font-size: 55px;

}
h4{
    font-size: 20px;
    color:#FFC900;
}
p{
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;
}
ul{        
    list-style: none;    /*pour enlever les "boules" dans les listes
}

a{
    text-decoration: none;      /*pour enlever les lignes en dessous des liens
}
.text-logo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffc900;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    text-align: center;
}
.nav{
    margin-bottom: 40px;
}
.price{
    background: #ffc900;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}

.caption > h4 {
    color: #FFC900;
    font-size: 18px;
}
.nav-pills > li.active >a,  .nav-pills> li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #FFC900;
}
.nav>li>a:focus, .nav>li>a:hover{
    color: #FFC900;
    background-color: #eee;
}
.nav>li>a{
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
}
.btn-order{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #717171;
    background-color: #FFC900;
    text-decoration: none;
    text-shadow: none;
}
.btn-order:hover, .btn-order:focus{
    color: #fff;
    background-color: #717171;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

} 
.clear{
    clear: both;
} 
small{
    font-size: 11px;
    font-style: italic;
}
p1{
    color: #FFC900;
    font-style: oblique;
    line-height: 20px;
    
} 

*/

/*HEADER*/

header
{
    height: 120px;

}
header h1
{
    float: left;
   margin-top: 32px;
   
}
header nav
{
    float: right;
    margin-top: 50px;
    
}
header nav ul li {
    display: inline-block; /*pour que ce soit en ligne et non les uns en dessous des autres*/
    font-weight: bold; /*texte en gras*/
    margin-right: 20px; /*pour que les éléments soient espacés*/
}
header{
    height: 120px;
    
}
header nav2{
    float: left;
    margin-top: 32px;
    font-weight: bold; /*pour mettre en gras*/
}

header nav1{
    float: right;
    margin-top: 50px;
}

header nav1 ul li{
    display: inline-block; /*pour que ça se place en une ligne*/
}

header nav1 ul li a{
    margin-right: 20px;
} 


/*MAIN-IMAGE*/
/*#main-image {
    height: 980px;
    background: url(https://www.normandie.fr/sites/default/files/2022-05/220506-NicolasBroquedis-0177.jpg) no-repeat;
}
  #main-image h3{
    font-weight: normal;
    text-align: center; /*pour centrer le texte*/
  /*  padding: 150px 0 40px 20px;
    margin-bottom: 20px;
}

/*ENTREES*/
#entrees ul{
    margin: 80px 0;
}

#entrees ul li{
    width: 300px; /*largeur*/
   float: left; /*pour qu'elles flottent les unes à coté des autres*/
   padding-top: 440px;
    text-align: center;
    margin-right: 10px;

    
}
#entrees h4{
    margin-bottom: 20px;

}
#entrees p{
    margin-bottom: 20px;
}

#entree1{
    background: url(https://st.depositphotos.com/2447577/4597/i/600/depositphotos_45978435-stock-photo-caesar-salad.jpg) no-repeat top center;

}
#entree2{
    background: url(https://us.123rf.com/450wm/indigolotos/indigolotos1404/indigolotos140400086/27187857-salade-caprese-isolé-sur-un-fond-blanc-.jpg?ver=6) no-repeat top center;    
}
#entree3{
    background: url(https://www.unjourunerecette.fr/images/recette-macedoine-de-legumes.jpg) no-repeat top center;
    
}

/*PLATS*/

#plats{
    background-color: #efefef;
    padding: 60px 0;
}
#plats article{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}
#plats article :first-child {   /*pour que la première image soit séparée de la deuxième*/
    
    margin-right: 20px;
}
.overlay{   /*pour la transparence ou floutage*/
  background: rgba(255,255,255, 0.95);
    height: 100%;
    width: 195px;   /*largeur du floutage*/
   padding: 20px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;     /*pour enlever la hauteur qui dépasse*/

}

article h4{
    border-bottom: 1px solid #DDD;      /*définition du trait entre les 2 textes*/
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#plats p{
    text-align: center;
}

/*DESSERTS*/
#desserts ul{
    margin: 80px 0;
}

#desserts ul li{
    width: 300px; /*largeur*/
    float: left; /*pour qu'elles flottent les unes à coté des autres*/
    padding-top: 440px;
    text-align: center;
    margin-right: 10px;

    
}
#desserts h4{
    margin-bottom: 20px;

}
#desserts p{
    margin-bottom: 20px;
}

#dessert1{
    background: url(https://www.fourchette-et-bikini.fr/sites/default/files/styles/full_1200x630/public/migration-images/ef887d532fc7a47551ade576fb097f4b.jpg?itok=2xi6Fwd_) no-repeat top center;

}
#dessert2{
    background: url(https://resize-gulli.jnsmedia.fr/rcrop/584,326,smartcrop,center-top/img//var/jeunesse/storage/images/gulli/activites/cuisine/desserts/moelleux-au-chocolat-caeur-fondant/20128378-1-fre-FR/Moelleux-au-chocolat-caeur-fondant.jpg) no-repeat top center;    
}
#dessert3{
    background: url(https://www.europeconomic.com/wp-content/uploads/2015/07/yaourt.jpg) no-repeat top center;
    
}

/*BOISSONS*/
#boissons{
    background-color: #efefef;
    padding: 60px 0;
}
#boissons article{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}
#boissons article :first-child {   /*pour que la première image soit séparée de la deuxième*/
   margin-right: 20px;
}
.overlay{   /*pour la transparence ou floutage*/
   background: rgba(255,255,255, 0.95);
    height: 100%;
    width: 195px;   /*largeur du floutage*/
   padding: 20px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;     /*pour enlever la hauteur qui dépasse*/

}

article h4{
    border-bottom: 1px solid #DDD;      /*définition du trait entre les 2 textes*/
  padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#boissons p{
    text-align: center;
}




/*FOOTER*/
.button-1{
display: block;
    width: 120px;
    height: 50px;
    background: #717171;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}
    
.button-1:hover{        /*pour que lorsque le curseur est sur le  bouton, celui-ci change de couleur*/
    background: #FFC900;
}
footer{
    height: 100px;
    /*background: url(https://dev.meilleures-licences.com/logo_ecole/esigelec-rouen-pictos-2xbaselines-1638800404.png)right;*/
}
footer h1 {
    color: #FFc900;
    text-align: center;
    padding-top: 80px;
}
.bien{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: black;
} 