/* GENERAL */

*
{
    margin: 0;
    padding: 0;
    background-color: #ffffb5;
}

body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    
}


h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 35px;
    color: #FFC900;
}
.jaune{
    color: #FFC900;
}
h3{
    color: #fff;
    font-size: 35px;
}
h4{
    color: rgb(0, 0, 0);
    font-size: 35px;
}
a{
    text-decoration: none; /*pour que les textes ne soient plus sourligné*/
}
ul
{
    list-style: none; /*pour ne pas afficher les points noirs*/
   
}
.wrapper {
    width: 940px;
    margin: 0 auto; /*pour centrer le contenu*/
    padding: 0 10px;
}

/* HEADER */

header
{
    height: 120px;

}
header h1
{
    float: left;
   margin-top: 32px;
   
}
header nav
{
    float: right;
    margin-top: 50px;
    
}
header nav ul li {
    display: inline-block; /*pour que ce soit en ligne et non les uns en dessous des autres*/
    font-weight: bold; /*texte en gras*/
    margin-right: 20px; /*pour que les éléments soient espacés*/
}

/* TEXTE BIENVENU */

#texte_bienvenu
{
    height: 580px;
   background-color: #FFF;
   background: url(https://www.esigelec.fr/sites/default/files/images/466897_324781930908207_890413721_o_4.jpg)center, no-repeat;
}
#texte_bienvenu h3
{
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px; /*marge vers le bas*/
   background-color: #FFF center; 
}
#text_success
{
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px; /*marge vers le bas*/
   background-color: rgb(255, 255, 255) center; 
}
/* FOOTER */

.button-1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #717171;
    color: #FFF;
    font-size: 15px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center; /*pour que le texte soit au centre du bouton*/
    border-radius: 3px; /*pour les bords arrondis du bouton*/
    margin-top: 100px;
}
footer{
    height: 100px;
    }

/*ADMIN*/
.admin{
    background: #FFF;
    padding: 50px;
    border-radius: 10px;
}
