/*GENERAL*/
h3{
    font-size: 30px;
    color: black;
    text-align: center;
}
p{
    font-style: italic;
    color: #717171;
    text-align: center;
}
form{
    margin-right: 30px;
    text-align: center;
}
body{
    background-color: #ddd;
}



/*CREATION COMPTE*/
#creation{
    padding: 60px 0px;
    text-align: center;
    
}
#contact h3{
    width: 400px;
   
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #ffc900;
    padding-bottom: 20px;
}
form{
    margin: 60px 0 20px 0px;

}
label{          /*pour gérer ce qui est écrit avant les cases (nom,prenom,...)*/
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: black
}
input[type="text"]{
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.button-3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #ffc900;
    border-style: none;
    border-radius: 3px;

}
.button-3:hover{
    color: #fff;
    background-color: #444;
}

/*FOOTER*/

.button-4{
    display: block;
        width: 120px;
        height: 50px;
        background: #717171;
        color: #fff;
        font-size: 20px;
        margin: 0 auto;
        line-height: 50px;
        text-align: center;
        border-radius: 3px;
    }
        
.button-4:hover{        /*pour que lorsque le curseur est sur le  bouton, celui-ci change de couleur*/
        background: #FFC900;
    }
footer{
        height: 100px;
        /*background: url(https://dev.meilleures-licences.com/logo_ecole/esigelec-rouen-pictos-2xbaselines-1638800404.png)right;*/
    }
footer h1 {
        color: #FFc900;
        text-align: center;
        padding-top: 80px;
    }
.bien{
        text-align: center;
        font-weight: bold;
        padding-top: 30px;
        color: black;
    }