/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    background-color: #ffffb5;
}
/*nav1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 30px;
    color: #FFC900;
    
}*/

h1{
    text-decoration: none;
    color: #FFc900;
}
h2{
    text-align: center;
}
h3{
    color: #444;
    font-size: 35px;
}

/* HEADER */

header
{
    height: 120px;
    background: url(https://www.tendanceouest.com/photos/galeries/373448/9534-tab.jpg) center;

}

header /*nav1*/
{
   margin-top: 35px;
   font-weight: bold;
   margin-right: 30px;
   
}

ul
{
    list-style: none;
}
.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

header nav1
{
    float: left;
    margin-top: 75px;
    background-color: #FFF;
}
header nav3
{
    float: right;
    margin-top: 40px;
    background-color: #FFF;
}

header nav1 ul li {
    display: inline-block; 
    font-weight: bold;
    margin-right: 20px;
}

header nav3 ul li {
    font-weight: bold;
    
}

/* FOOTER */


.button-5
{
    display: block;
    width: 120px;
    height: 50px;
    background: #717171;
    color: #FFF;
    font-size: 15px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center; /*pour que le texte soit au centre du bouton*/
    border-radius: 3px; /*pour les bords arrondis du bouton*/
    margin-top: 100px;
}

   
/*FOOTER */
footer{
    height: 100px;
    /*background: url(https://dev.meilleures-licences.com/logo_ecole/esigelec-rouen-pictos-2xbaselines-1638800404.png)right;*/
}
footer h1 {
    color: #FFc900;
    text-align: center;
    padding-top: 80px;
}
