/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    background-color: #ffffb5;
}


h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 35px;
    color: #FFC900;
}
.jaune{
    color: #FFC900;
}
h3{
    color: #fff;
    font-size: 35px;
}
a{
    text-decoration: none; /*pour que les textes ne soient plus sourligné*/
}
ul
{
    list-style: none; /*pour ne pas afficher les points noirs*/
   
}
.wrapper {
    width: 940px;
    margin: 0 auto; /*pour centrer le contenu*/
    padding: 0 10px;
}

/* HEADER */

header
{
    height: 120px;

}
header h1
{
    float: left;
   margin-top: 32px;
   
}
header nav
{
    float: right;
    margin-top: 50px;
    
}
header nav ul li {
    display: inline-block; /*pour que ce soit en ligne et non les uns en dessous des autres*/
    font-weight: bold; /*texte en gras*/
    margin-right: 20px; /*pour que les éléments soient espacés*/
}

/* FOOTER */
    
.button-11{
    display: block;
        width: 120px;
        height: 50px;
        background: #717171;
        color: #fff;
        font-size: 20px;
        margin: 0 auto;
        line-height: 50px;
        text-align: center;
        border-radius: 3px;
    }
        
.button-11:hover{        /*pour que lorsque le curseur est sur le  bouton, celui-ci change de couleur*/
        background: #FFC900;
    }